<style>
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Georgian:wght@100..900&display=swap');
</style>
*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}


/*  -----------------------------------------------------PAGE-1----------------------------------------*/


/*-------------------------------------------header---------------------------------------------*/
.page{
   background-image: url("img/start-screen-gradient-background.png");
    background-size: cover;
}
header{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 10vh;
    text-align: center;
    gap: 573px;
    padding-top: 60px;
    }
/*header nav{*/
/*    width: 50%;*/
/*    }*/
nav ul {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style-type: none;
    gap: 35px;
    padding-top: 60px;
}
/*.Cozy_house{*/

/*    position: absolute;*/
/*    left: 40px;*/
/*}*/
/*.nav {*/
/*position: absolute;*/
/*right: 40px;*/
/*}*/
h3{
    color: var(--color-primary, #F1CDB3);
    font-family: Georgia;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 10%;
    letter-spacing: 1.92px;
}
.start{
    color: var(--color-light-xl, #FFF);
    font-family: Arial;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.3px;
}
a{
    color: var(--color-light-s, #FAFAFA);
    font-family: Arial;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    text-decoration: none;
}
/*---------------------------------------------main------------------------------------------*/
.main{
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
    margin-top: 60px;
    margin-left: 42px;
    margin-right: 42px;
    gap: 42px;
}
.dog{
    width: 698px;
    height: 728px;
}
.text_1{
    /*position: absolute;*/
    /*left: 40px;*/
    display: flex;
    width: 460px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 40px;
}
h2{
    color: #FFF;

    font-family: Georgia;
    font-size: 44px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
    margin-bottom: 0;
}
.p{
    color: var(--color-dark-s, #CDCDCD);
    font-family: Arial;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%; /* 24px */
    margin-bottom: 0;
}
.button{
    display: flex;
    padding: 15px 45px;
    align-items: center;
    gap: 10px;
    border-radius: 100px;
    background: var(--color-primary, #F1CDB3);
    color: var(--color-dark-3xl, #292929);
    font-family: Georgia;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; /* 22.1px */
    letter-spacing: 1.02px;
}


/*----------------------------------------------PAGE-2---------------------------------------------*/

.about_pets{
    width: 300px;
    height: 408px;
    margin-left: 175px;
}
.page_2{
    display: flex;
    width: 1200px;
    height: 408px;
    padding: 0px 175px;
    justify-content: center;
    align-items: center;
    gap: 120px;
    margin: 80px auto;
}
.about_pets_h3{
    color: var(--color-dark-l, #545454);
    font-family: Georgia;
    font-size: 35px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; /* 45.5px */
    letter-spacing: 2.1px;
    }
.about{
    color: var(--color-dark-xl, #4C4C4C);
    /* paragraph-l */
    font-family: Arial;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%; /* 24px */
    margin-right: 175px;
}
/*----------------------------------------------PAGE-3---------------------------------------------*/

.page_3{
    display: flex;
    /*height: 697px;*/
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    gap: 90px;
    flex-shrink: 0;
}
.our_friends{
    color: var(--color-dark-l, #545454);
    text-align: center;
    font-family: Georgia;
    font-size: 35px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; /* 45.5px */
    letter-spacing: 2.1px;
    padding-top: 80px;
    margin-bottom: 60px;
}
.animals{
    display: flex;
    width: 270px;
    height: 435px;
    padding-bottom: 30px;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    flex-shrink: 0;
    padding-top: 0;
    color: #545454;

    text-align: center;
    /* pets-card-title */
    font-family: Georgia;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.2px;
}
.slide {
    background: #F6F6F6;
    padding: 0 40px 100px 40px;
}
.button_2{
    display: flex;
    padding: 15px 45px;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    border-radius: 100px;
    border: 2px solid var(--color-primary, #F1CDB3);
    color: var(--color-dark-3xl, #292929);
    font-family: Georgia;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; /* 22.1px */
    letter-spacing: 1.02px;
}
.button_3{
    display: flex;
    padding: 15px 45px;
    align-items: center;
    text-align: center;
    gap: 10px;

    border-radius: 100px;
    background: var(--color-primary, #F1CDB3);
    color: var(--color-dark-3xl, #292929);
    font-family: Georgia;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; /* 22.1px */
    letter-spacing: 1.02px;
    border: none;
    margin: 60px auto 0;
}
/*----------------------------------------------PAGE-4---------------------------------------------*/
.slide_2{
    /*display: flex;*/
    /*/*height: 431px;*/*/
    /*padding: 0px 87px;*/
    /*/*flex-direction: column;*/*/
    /*justify-content: center;*/
    /*margin-bottom: 100px;*/

    display: flex;
    padding: 60px 120px 100px 120px;
    justify-content: center;
    align-items: center;
}
.help_title{
    color: var(--color-dark-l, #545454);
    text-align: center;
    font-family: Georgia;
    font-size: 35px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; /* 45.5px */
    letter-spacing: 2.1px;
    margin-top: 53px;
}
.Icons_help{
    height: 281px;
    flex-shrink: 0;
    flex-shrink: 0;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 120px;
}
.icons_size{
    margin-bottom: -70px ;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.icons{
    width: 60px;
    height: 60px;
    margin-top: 0;
}
.icons_text{
    margin-top: 30px;
    color: var(--color-dark-l, #545454);
    font-family: Georgia;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 115%; /* 23px */
    letter-spacing: 1.2px;
}
/*-------------------------------------------------------PAGE-5-------------------------------------------------*/
