<style>
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Georgian:wght@100..900&display=swap');
</style>
*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}


/*  -----------------------------------------------------PAGE-1----------------------------------------*/


/*-------------------------------------------header---------------------------------------------*/
.page{
   background-image: url("img/start-screen-gradient-background.png");
    background-size: cover;
}
header{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 10vh;
    text-align: center;
    gap: 573px;
    padding-top: 60px;
    }
nav ul {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style-type: none;
    gap: 35px;
    padding-top: 60px;
}
h3{
    color: var(--color-primary, #F1CDB3);
    font-family: Georgia;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 10%;
    letter-spacing: 1.92px;
}
.start{
    color: var(--color-light-xl, #FFF);
    font-family: Arial;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.3px;
}
a{
    color: var(--color-light-s, #FAFAFA);
    font-family: Arial;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    text-decoration: none;
}
a:hover{
    border-bottom: 3px solid #F1CDB3;
}
/*---------------------------------------------main------------------------------------------*/
.main{
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
    margin-top: 60px;
    margin-left: 42px;
    margin-right: 42px;
    gap: 42px;
}
.dog{
    width: 698px;
    height: 728px;
}
.text_1{
    display: flex;
    width: 460px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 40px;
}
h2{
    color: #FFF;

    font-family: Georgia;
    font-size: 44px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
    margin-bottom: 0;
}
.p{
    color: var(--color-dark-s, #CDCDCD);
    font-family: Arial;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%; /* 24px */
    margin-bottom: 0;
}
.button{
    display: flex;
    padding: 15px 45px;
    align-items: center;
    gap: 10px;
    border-radius: 100px;
    background: var(--color-primary, #F1CDB3);
    color: var(--color-dark-3xl, #292929);
    font-family: Georgia;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; /* 22.1px */
    letter-spacing: 1.02px;
}


/*----------------------------------------------PAGE-2---------------------------------------------*/

.about_pets{
    width: 300px;
    height: 408px;
    margin-left: 175px;
}
.page_2{
    display: flex;
    width: 1200px;
    height: 408px;
    padding: 0px 175px;
    justify-content: center;
    align-items: center;
    gap: 120px;
    margin: 80px auto;
}
.about_pets_h3{
    color: var(--color-dark-l, #545454);
    font-family: Georgia;
    font-size: 35px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; /* 45.5px */
    letter-spacing: 2.1px;
    }
.about{
    color: var(--color-dark-xl, #4C4C4C);
    font-family: Arial;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%; /* 24px */
    margin-right: 175px;
}
/*----------------------------------------------PAGE-3---------------------------------------------*/

.page_3{
    display: flex;
    /*height: 697px;*/
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 90px;
    flex-shrink: 0;
}
.our_friends{
    color: var(--color-dark-l, #545454);
    text-align: center;
    font-family: Georgia;
    font-size: 35px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; /* 45.5px */
    letter-spacing: 2.1px;
    padding-top: 80px;
    margin-bottom: 60px;
}
.animals{
    display: flex;
    width: 270px;
    height: 435px;
    padding-bottom: 30px;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    flex-shrink: 0;
    padding-top: 0;
    color: #545454;

    text-align: center;
    font-family: Georgia;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.2px;
}
.slide {
    background: #F6F6F6;
    padding: 0 40px 100px 40px;
}
.button_2{
    display: flex;
    padding: 15px 45px;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    border-radius: 100px;
    border: 2px solid var(--color-primary, #F1CDB3);
    color: var(--color-dark-3xl, #292929);
    font-family: Georgia;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; /* 22.1px */
    letter-spacing: 1.02px;
}
.button_3{
    display: flex;
    padding: 15px 45px;
    align-items: center;
    text-align: center;
    gap: 10px;

    border-radius: 100px;
    background: var(--color-primary, #F1CDB3);
    color: var(--color-dark-3xl, #292929);
    font-family: Georgia;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; /* 22.1px */
    letter-spacing: 1.02px;
    border: none;
    margin: 60px auto 0;
}
/*----------------------------------------------PAGE-4---------------------------------------------*/
.slide_2{
    /*display: flex;*/
    padding: 60px 120px 100px 120px;
    /*justify-content: space-evenly;*/
    /*align-items: center;*/
}
.help_title{
    color: var(--color-dark-l, #545454);
    text-align: center;
    font-family: Georgia;
    font-size: 35px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; /* 45.5px */
    letter-spacing: 2.1px;
    margin-top: 53px;
}
.Icons_help{
    height: 281px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 120px;
}
.icons_size{
    margin-bottom: -70px ;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.icons{
    width: 60px;
    height: 60px;
    margin-top: 0;
}
.icons_text{
    margin-top: 30px;
    color: var(--color-dark-l, #545454);
    font-family: Georgia;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 115%; /* 23px */
    letter-spacing: 1.2px;
}
/*-------------------------------------------------------PAGE-5-------------------------------------------------*/
.slide_3{
    display: flex;
    height: 282px;
    justify-content: center;
    align-items: center;
    gap: 30px;
    flex-shrink: 0;
    margin: 80px 183px 100px 183px;
}
.donation_dog{
    width: 505px;
    height: 261px;
    flex-shrink: 0;
}
.donation{
    color: var(--color-dark-l, #545454);
    /* h3 */
    font-family: Georgia;
    font-size: 35px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; /* 45.5px */
    letter-spacing: 2.1px;
    margin-bottom: 0;
    margin-top: 0;
}
.bank{
    color: var(--color-dark-l, #545454);
    font-family: Georgia;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 110%; /* 16.5px */
    letter-spacing: 0.9px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.button_4{
    display: flex;
    padding: 10px 15px;

    align-items: center;
    gap: 15px;
    border-radius: 9px;
    background: var(--color-primary, #F1CDB3);
    color: var(--color-dark-l, #545454);
    /* h4 */
    font-family: Georgia;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 115%; /* 23px */
    letter-spacing: 1.2px;
    margin-top: 0;
    margin-bottom: 0;
}
.credit{
    width: 30px;
    height: 23px;
    flex-shrink: 0;
    fill: var(--color-dark-3xl, #292929);
}
.text_2{
    color: var(--color-dark-m, #B2B2B2);

    /* donation-description */
    font-family: Arial;
    font-size: 12px;
    font-style: italic;
    font-weight: 400;
    line-height: 18px; /* 150% */
    margin-top: 20px;
    margin-bottom: 0;
}
/*------------------------------------------------PAGE-6-----------------------------------------*/
.footer{
    background-size: cover;
    background-image: url("img/footer-gradient-background.png");
    padding: 40px 40px 0 40px;
}
.block{
    height: 310px;
    width: 1200px;
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    gap: 161px;
    margin: 0 auto 0 auto;
}
.contact{
    display: flex;
    min-width: 278px;
    padding-right: 0px;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: flex-start;
    text-align: start;
    gap: 40px;
}
.footer_puppy{
    width: 300px;
    height: 310px;
    flex-shrink: 0;
}
.contact_h3{
    color: var(--color-light-xl, #FFF);
    /* h3 */
    font-family: Georgia;
    font-size: 35px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; /* 45.5px */
    letter-spacing: 2.1px;
    margin: 0;
}
.contact_contact{
    color: var(--color-primary, #F1CDB3);
    /* h4 */
    font-family: Georgia;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 115%; /* 23px */
    letter-spacing: 1.2px;
    margin: 0;
    display: flex;
    align-items: center;
    gap: 20px;
}